In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
%cd 2020 (№ 68)

C:\Users\Борис\Documents\GitHub\Regions\2020 (№ 68)

In [3]:
data_build = pd.read_excel(r'Объем жилищного строительства.xls', index_col=0,  header= 3 )

In [4]:
data_build.rename(columns={'Unnamed: 1': 'Объем жилищного строительства 2020, млн',
                           data_build.columns[1]: 'Ввод жилья в МКД 2020, млн',
                  'ввод жилья, построенного населением':'Ввод жилья населением 2020, млн'}, inplace=True)

In [5]:
data_build = data_build.dropna()

In [6]:
data_build.head(3)

,"Объем жилищного строительства 2020, млн","Ввод жилья в МКД 2020, млн","Ввод жилья населением 2020, млн"
Российская Федерация,82.1845,42.3827,39.8018
Центральный федеральный округ,25.5333,13.4799,12.0534
Белгородская область,1.1486,0.2136,0.935

In [7]:
mask = [*map(lambda x: x[-4:] not in ['круг','ация'] , data_build.index)]

In [8]:
data_build = data_build[mask]

In [9]:
data_build.head(3)

,"Объем жилищного строительства 2020, млн","Ввод жилья в МКД 2020, млн","Ввод жилья населением 2020, млн"
Белгородская область,1.1486,0.2136,0.935
Брянская область,0.4267,0.2515,0.1752
Владимирская область,0.7262,0.2454,0.4809

In [10]:
data_life = pd.read_excel(r'ОПЖ_предв.xlsx', index_col=0,  header= 2)

In [11]:
data_life = data_life.dropna()
data_life = data_life[mask]
data_life.head(3)

                      Число\nлет
Белгородская область        72.4
Брянская область            70.6
Владимирская область        70.0

In [12]:
data_life.rename(columns={'Число\nлет':'ОПЖ, лет'}, inplace=True)

In [13]:
data_life.head(1)

                      ОПЖ, лет
Белгородская область      72.4

In [14]:
data_salary = pd.read_excel(r'Реал. среднем. з.п..xlsx', index_col=0,  header= 3)

In [15]:
data_salary.head(3)

                               2020 г. в % к 2019 г.  Unnamed: 2
Наименование
Российская Федерация                           102.5         NaN
Центральный федеральный округ                  103.4         NaN
Белгородская область                           104.5         NaN

In [16]:
data_salary = data_salary.dropna(axis=1)
data_salary = data_salary[mask]
data_salary.head(3)

                      2020 г. в % к 2019 г.
Наименование
Белгородская область                  104.5
Брянская область                      102.2
Владимирская область                  102.4

In [17]:
data_salary.shape

(84, 1)

In [18]:
data_idx = pd.read_excel(r'Индекс роста дохода.xlsx', index_col=0)

In [19]:
data_idx = data_idx[mask[1:]]

In [20]:
data_idx.rename(columns={data_idx.columns[0]: 'Темп роста денежного дохода, %'}, inplace=True)

In [21]:
data_idx.head(3)

                        Темп роста денежного дохода, %
Белгородская область                              98.4
Брянская область                                  95.8
Владимирская область                              98.1

In [22]:
data_pov = pd.read_excel(r'Уровень бедности.xlsx', index_col=0,  header= 3)

In [23]:
data_pov.head(3)

,2018,20192),20203),Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
Российская Федерация,12.6,12.3,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Центральный федеральный округ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Белгородская область,7.5,7.8,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data_pov = data_pov.iloc[:-3,:3]

In [25]:
data_pov = data_pov[mask]

In [26]:
data_pov.rename(columns={data_pov.columns[0]: 'Доля бедности 2018,%',
                         data_pov.columns[1]: 'Доля бедности 2019,%',
                         data_pov.columns[2]: 'Доля бедности 2020,%'}, inplace=True)

In [27]:
data_pov.head(3)

,"Доля бедности 2018,%","Доля бедности 2019,%","Доля бедности 2020,%"
Белгородская область,7.5,7.8,7.2
Брянская область,13.6,13.8,13.8
Владимирская область,13.1,12.6,12.5

In [28]:
data_am = pd.read_excel(r'Численность населения.xls', index_col=0,  header= 4)

In [29]:
data_am.rename(columns={data_am.columns[0]: 'Население 2020, чел'}, inplace=True)
data_am.head(3)

                               Население 2020, чел
Российская Федеpация                     146171015
Центральный федеральный округ             39250960
Белгородская область                       1541259

In [30]:
data_am = data_am[mask]

In [40]:
data_am.shape

(84, 1)

In [58]:
df = data_am.copy()
for data in [data_salary,data_pov,data_life, data_idx, data_build]:
    pd.concat(data)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [32]:
df.head(3)

,"Население 2020, чел",2020 г. в % к 2019 г.,"Доля бедности 2018,%","Доля бедности 2019,%","Доля бедности 2020,%","ОПЖ, лет","Темп роста денежного дохода, %","Объем жилищного строительства 2020, млн","Ввод жилья в МКД 2020, млн","Ввод жилья населением 2020, млн"
Белгородская область,1541259.0,104.5,7.5,7.8,7.2,72.4,NaN,1.1486,0.2136,0.935
Брянская область,1182682.0,102.2,13.6,13.8,13.8,70.6,NaN,0.4267,0.2515,0.1752
Владимирская область,1342099.0,102.4,13.1,12.6,12.5,70.0,98.1,0.7262,0.2454,0.4809

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, Белгородская область to Еврейская автономная область
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Население 2020, чел                      84 non-null     float64
 1   2020 г. в % к 2019 г.                    71 non-null     float64
 2   Доля бедности 2018,%                     72 non-null     float64
 3   Доля бедности 2019,%                     72 non-null     float64
 4   Доля бедности 2020,%                     72 non-null     float64
 5   ОПЖ, лет                                 74 non-null     float64
 6   Темп роста денежного дохода, %           53 non-null     float64
 7   Объем жилищного строительства 2020, млн  71 non-null     float64
 8   Ввод жилья в МКД 2020, млн               71 non-null     object
 9   Ввод жилья населением 2020, млн          71 non-null     object
dtypes: float64(8), object(2)
memory usage: 9.3+ KB

In [56]:
print(data_am.index)

Index(['Белгородская область', 'Брянская область', 'Владимирская область',
       'Воронежская область', 'Ивановская область', 'Калужская область',
       'Костромская область', 'Курская область', 'Липецкая область',
       'Московская область', 'Орловская область', 'Рязанская область',
       'Смоленская область', 'Тамбовская область', 'Тверская область',
       'Тульская область', 'Ярославская область', 'г. Москва',
       'Республика Карелия', 'Республика Коми', 'Архангельская область',
       'Архангельская область без Ненецкого автономного округа',
       'Вологодская область', 'Калининградская область',
       'Ленинградская область', 'Мурманская область', 'Новгородская область',
       'Псковская область', 'г.Санкт-Петербург', 'Республика Адыгея',
       'Республика Калмыкия', 'Республика Крым', 'Краснодарский край',
       'Астраханская область', 'Волгоградская область', 'Ростовская область',
       'г. Севастополь', 'Республика Дагестан', 'Республика Ингушетия',
       'Кабардино-Балкарская Республика', 'Карачаево-Черкесская Республика',
       'Республика Северная Осетия-Алания', 'Чеченская Республика',
       'Ставропольский край', 'Республика Башкортостан', 'Республика Марий Эл',
       'Республика Мордовия', 'Республика Татарстан', 'Удмуртская Республика',
       'Чувашская Республика', 'Пермский край', 'Кировская область',
       'Нижегородская область', 'Оренбургская область', 'Пензенская область',
       'Самарская область', 'Саратовская область', 'Ульяновская область',
       'Курганская область', 'Свердловская область', 'Тюменская область',
       'Ханты-Мансийский автономный округ-Югра',
       'Тюменская область без автономных округов', 'Челябинская область',
       'Республика Алтай', 'Республика Тыва', 'Республика Хакасия',
       'Алтайский край', 'Красноярский край', 'Иркутская область',
       'Кемеровская область', 'Новосибирская область', 'Омская область',
       'Томская область', 'Республика Бурятия', 'Республика Саха (Якутия)',
       'Забайкальский край', 'Камчатский край', 'Приморский край',
       'Хабаровский край', 'Амурская область', 'Магаданская область',
       'Сахалинская область', 'Еврейская автономная область'],
      dtype='object')

In [55]:
for idx in data_am.index:
    if idx[-1] == ' ':
        data_am.rename(index={idx:idx[:-1]}, inplace=True)

In [57]:
for i, data in enumerate([data_salary,data_pov,data_life, data_idx, data_build]):
    print(i)
    for el in data.index:
        if el not in data_am.index:
            print(el)

0
Архангельская область (кроме Ненецкого автономного округа)
г.Севастополь
Республика Северная Осетия - Алания
Hижегородская область
Ханты-Мансийский авт.округ - Югра
Тюменская область (кроме Ханты-Мансийского автономного округа - Югры и Ямало-Ненецкого автономного округа)
Кемеровская область - Кузбасс
Еврейская авт.область
1
Курская область
Московская область
Ярославская область
Архангельская область без авт. округа
г. Санкт-Петербург
Республика Северная Осетия - Алания
Чеченская Республика
Тюменская область без авт. округов
2
Архангельская область без автономии
г. Санкт-Петербург
Республика Северная Осетия – Алания
Ханты-Мансийский авт. округ – Югра
Тюменская область без автономий
Кемеровская область – Кузбасс
3
Белгородская область
Брянская область
Костромская область
Тамбовская область
Ярославская область
г.Москва
Архангельская область
Архангельская область без авт.округа
Ленинградская область
Мурманская область
Псковская область
Республика Адыгея
Ростовская область
г.Севастополь
Кабардино-Балкарская  Республика
Карачаево-Черкесская  Республика
Республика  Северная Осетия - Алания
Республика Марий Эл
Чувашская Республика
Нижегородская область
Пензенская область
Тюменская область
    Ханты-Мансийский авт.округ
Тюменская область без авт.округов
Красноярский край
Камчатский край
Хабаровский край
Магаданская область
Сахалинская область
Еврейская  авт.область
4
г.Москва
Архангельская область (кроме Ненецкого авт.округа)
Республика Адыгея (Адыгея)
г.Севастополь
Чувашская Республика
Ханты-Мансийский авт. округ-Югра
Тюменская область (без авт. округов)
Еврейская авт. область